grant codeBase "file:/home/guilherme/LocalOneDrive/Documentos/Faculdade/2023/CPeD/TPFinalCPeD" {
    permission java.net.SocketPermission "localhost:*", "connect, resolve";
    permission java.net.SocketPermission "localhost:*", "accept";
    permission java.security.AllPermission;
};
